<p id="notice"><%= notice %></p>

<h1>
  <%= @article.headline %>
</h1> 

 <p class="articledate">
  <%= @article.date %>:  
 </p>


<%= simple_format(@article.body, :class => 'articlebody' ) %>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>